[2021-03-30 13:14] SanderDevisscher opened #1 "Use higher ress tiffs to do climate matching"
https://ndownloader.figshare.com/files/12407516 => download 1x1km tiffs 0p0083 (niet conf)
https://www.rdocumentation.org/packages/tiff/versions/0.1-6/topics/readTIFF => to read tiffs
The maps are stored in GeoTIFF format as unsigned 8-bit integers. The maps are referenced to the World Geodetic Reference System 1984 (WGS 84).

_Originally posted by @SanderDevisscher in https://github.com/inbo/easi

[2021-03-30 13:33] SanderDevisscher opened #2 "Create initial structure"
Suggested structure:

[code]

[2021-03-30 13:44] #2 closed

[2021-03-30 13:50] SanderDevisscher commented on #1
@adrienlatli @timadriaens I'll continue improving the koppen geiger climate matching in this public repo

[2021-03-30 14:11] timadriaens commented on #1
Am posting the last comment from Adrien here:

Hi all,

We discuss with Romain of the climate matching results.

According to the (pre) list of the 32 crayfish available in e-shops, 4 species are included in the climate matching list (actual climate) and 13 species are included in the climate matching (futur).

3 species available in e-shop have not been analysed with climate matching approach (sp

[2021-03-30 14:32] SanderDevisscher commented on #1
These can be added to [White list proposal for aquarium crayfish GBIF 22092020.xlsx](https://github.com/inbo/riparias-prep/blob/1_climate_matching_rework/data/raw/White%20list%20proposal%20for%20aquarium%20crayfish%20GBIF%2022092020.xlsx) in the `1_climate_matching_rework` - branch

If you would provide me with a list of crayfish families (example https://www.gbif.org/species/8670) to consider wit

[2021-03-30 14:33] SanderDevisscher opened #5 "Do climate matching with all crayfish on gbif"
If you would provide me with a list of crayfish families (example https://www.gbif.org/species/8670) to consider with the corresponding taxonkeys I can do a gbif download based on this.

=> firstly however I would like to focus on the rework for the higher resolution raster files. I'll open a new issue for this analysis.

_Originally posted by @SanderDevisscher in https://github.com/inbo/riparias-

[2021-03-30 14:37] timadriaens commented on #1
Indeed, best to focus on the workflow first so it can include the updated KG climate maps from the [Beck et al. paper](https://www.nature.com/articles/sdata2018214)) as wel will also use this for the aquatic plants later.

[2021-03-30 15:29] SanderDevisscher commented on #1
@timadriaens in hindsight a 1x1km worldwide grid seems a bit overkill. I suggest we switch to 10x10km instead ?

[2021-03-30 18:35] timadriaens commented on #1
the belgian risk map workflow also uses 1km. The point is of course also that a greater resolution increases the error rate when assigning a record to a grid cell (with this crude climate matching, we don't even take into account uncertainty on the coordinates). So I am ok with 10km (but I wonder about the previous map because it didn't have the right climatic zones for Belgium). Perhaps @adrienla

[2021-03-31 08:04] adrienlatli commented on #1
If the belgian risk map workflow uses 1km accuracy it 's maybe better to keep the same scale for potential future publications.

But if the climate matching workflow 1x1km is too time expensive, let's go to the 10x10km, I'm pretty sure it's good enough.

[2021-03-31 10:25] timadriaens commented on #1
OK! I agree with that. The climate matching is only meant to selection potential species for in depth RA so certainly a good approach.

[2021-03-31 12:40] SanderDevisscher opened #7 "Determine a logical gbif records threshold"
In the current climate matching outputs (see [future](https://github.com/inbo/riparias-prep/blob/a1f20d61681c3941b1858b38b2b29c4339571b92/data/output/data_overlay_future_10km.csv) & [present](https://github.com/inbo/riparias-prep/blob/a1f20d61681c3941b1858b38b2b29c4339571b92/data/output/data_overlay_present_10km.csv) - data overlays) contain all species with at least 1 record in the belgian climat

[2021-03-31 15:56] timadriaens commented on #7
OK, I played around a bit with those. My proposal for criterium:

- minimum number of occurrence records of the species on gbif (`n_totaal`): >=100
- degree of overlap (in %) with Belgian climate: >=10%

This should leave the following number of species:

- current climate: 18 species

species | Classification | n_totaal | %
-- | -- | -- | --
Astacopsis gouldi | Cfb | 713 | 99
Austropotamobius pal

[2021-03-31 15:58] timadriaens commented on #7
I find it striking though that none of the species occur twice in both climate classifications for Belgium.

[2021-03-31 16:03] timadriaens commented on #7
If we are a bit more severe on the criteria:

current: 14
future: 22
both: 13 species

current: 10
future: 15
both: 9 species

@adrienlatli can you take a look at the above list and tell us if that is workable? Do we want to land at around 30 spp to risk assess or do we go for less?

[2021-04-01 07:23] adrienlatli commented on #7
Great Job Sander thx.

I think 30 spp to risk assess is realizable by Romain.  This number could be improve if they find new species in shop but I'm think it's still feasible.
I need to present these results to Romain and Etienne and I will come back soon.

@timadriaens : If you can add Romain to Github it's must be usefull :-) (WILLEPUT  Romain <Romain.Willeput@ulb.be>)

[2021-04-01 07:30] timadriaens commented on #7
ok! we need his github name for that

[2021-04-01 07:47] timadriaens commented on #7
@adrienlatli OK, calculating back from those 30 species I propose the following cut-offs (it appears the total number of records on gbif is more limiting than the degree of KG overlap):

- [ ] `n_totaal` >= 90
- [ ] `perc_climate` >= 0.20

This leaves exactly 30 species.

species
--
Astacopsis franklinii
Astacopsis gouldi
Austropotamobius torrentium
Cambarus acuminatus
Cambarus bartonii
Cambarus h

[2021-04-01 08:52] SanderDevisscher commented on #7
@adrienlatli can you provide his github username ?

[2021-04-01 11:53] SanderDevisscher opened #8 "Create climate matching flow for the plants"
Like for the crayfish a similar flow should be created for the invasive plants.

@timadriaens is this also @adrienlatli expertise or should I include someone else ?

The following steps should be undertaken (preferably in order) :
- [x] Create a branch @SanderDevisscher
- [x] Upload a list of species to be considered @timadriaens + experts
   -  This list should contain the correct gbif taxonkeys

[2021-04-01 12:15] #1 closed

[2021-04-01 12:15] #7 closed

[2021-04-01 12:49] adrienlatli commented on #8
@SanderDevisscher : For invasive plants the workflow should be more or less the same. Etienne branquart (SPW) and Antoine Dumortier (student) will drive this study for the SPW.
For the Crayfish, you could invite in Github romain Willput (student), he has created a github account (https://github.com/RomainWilleput)
Thx

[2021-04-01 13:05] SanderDevisscher commented on #8
Can you provide the usernames of Etienne & Antoine ?

@RomainWilleput should have had an invitation for this repo.

@timadriaens is there a reason why you unassigned us both ? No input is required ?

[2021-04-01 13:09] timadriaens commented on #8
@SanderDevisscher no, I made a mistake probably while trying to assign Romain :-)

[2021-04-01 13:12] SanderDevisscher commented on #8
Ok I'll reassign us both.
Before we can assign Romain (or Etienne & Antoine for that matter) to a issue they first need to accept the invitation.

[2021-04-01 13:35] SanderDevisscher opened #9 "Update Riparias Baseline"
@timadriaens While I wait for new walloon data (now with ID column or in dwc).

I will begin with the part of the flow following the data compilation (done for VMM & GBIF).
What final form of output do you want ? _(all outputs will be limited to the RIPARIAS project perimeters <sup>1</sup>)_

~- [ ] Map, csv and shapefiles of the 10x10km squares infected by target species.~

- [x] Map, csv and sha

[2021-04-01 13:50] SanderDevisscher commented on #9
I'll create a RMD which outputs .html files with the map

[2021-04-01 14:12] timadriaens commented on #9
[reperimeterriparias.zip](https://github.com/inbo/riparias-prep/files/6244146/reperimeterriparias.zip)

[2021-04-01 15:08] adrienlatli commented on #8
The github account of Antoine : https://github.com/Andumort

[2021-04-02 08:36] SanderDevisscher commented on #8
He has received an invitation

[2021-04-02 14:55] adrienlatli commented on #5
@SanderDevisscher : According to the World Register of Marine Species crayfish families are Astacidae,  Cambaridae and Parastacidae
https://www.gbif.org/species/8022
https://www.gbif.org/species/4479
https://www.gbif.org/species/8670

Be careful, some species have multiples names. It would be useful to regroup them (I create a new post "issue" for the synonyms and climate matching approach)
I will

[2021-04-02 15:21] adrienlatli opened #10 "Climate matching issue due to taxonomic synonyms ?"
@SanderDevisscher, @timadriaens  and @RomainWilleput

Hello,
With Romain, we found a potential problem regarding the filters that were applied to GBIF occurrences for climate matching.
For several species, we have large differences between the number of observations in  GBIF and the number of observations take into account in the climate matching analysis.
For example, the specie Faxonius neglectu

[2021-04-06 05:46] SanderDevisscher commented on #10
@adrienlatli I looked at the [white list](https://github.com/inbo/riparias-prep/blob/master/data/raw/White%20list%20proposal%20for%20aquarium%20crayfish%20GBIF%2022092020.xlsx) (the list I used to download the gbif occurrences) and only _Orconectes neglectus_ is listed.

If you guys could look at the list and change the taxonkeys of the synonyms (_Orconectes neglectus_ ~ 2227071) to these of the a

[2021-04-06 08:04] SanderDevisscher commented on #9
- [ ] Copy merged points shape to [riparias-prep](https://github.com/inbo/riparias-prep) - repo
- [ ] Create .rmd to subset and display points on a map and export this to html

[2021-04-06 08:35] SanderDevisscher commented on #9
`9_Create_Riparias_Baseline` - branch

[2021-04-06 15:37] SanderDevisscher commented on #9
@timadriaens which language should the page be ?

also this is the current state: https://iasspeciesdashboard.shinyapps.io/Riparias-baseline-maps/

[2021-04-07 08:21] timadriaens commented on #9
Looking ACE! I suggest English will do.

[2021-04-07 08:23] timadriaens commented on #9
Would it be possible to include a link to the original record and the data source when you click on the dot?

[2021-04-07 08:24] SanderDevisscher commented on #9
I'll try to implement this

[2021-04-13 15:09] #9 closed

[2021-04-13 15:19] SanderDevisscher opened #13 "Republish riparias baseline"
- [x] after go ahead @timadriaens

~=> No branch needed~

[2021-04-13 15:21] SanderDevisscher opened #14 "Export baseline points as .csv"
- [x] Add export to .csv to [baseline_maps_prep.Rmd](https://github.com/inbo/riparias-prep/blob/master/scripts/baseline_maps_prep.Rmd)

[2021-04-13 15:36] SanderDevisscher commented on #14
Done

[2021-04-13 15:36] #14 closed

[2021-04-13 15:45] SanderDevisscher commented on #13
@timadriaens

Republish == live @ https://iasspeciesdashboard.shinyapps.io/Riparias-baseline-maps/?_ga=2.136753846.703018833.1618315316-1097342107.1605675626

[2021-04-13 15:45] #13 closed

[2021-04-14 12:58] RomainWilleput commented on #10
@SanderDevisscher

[2021-04-14 13:00] RomainWilleput commented on #10
Hello @SanderDevisscher
With Adrien, we wonder if it is not more interesting to make all the crayfish species of GBIF pass in the CM analysis in order to have a complete database for the Alert List but also for the continuation of the project (White List, ...).
I tried to download the "GBIF Backbone Taxonomy" .tsv but the file is too big to be opened with Excel.
https://www.gbif.org/fr/dataset/d7d

[2021-04-14 13:15] SanderDevisscher commented on #10
Yes this is possible see also issue #5

[2021-04-14 13:24] SanderDevisscher commented on #5
Steps:

- [ ] Add taxonkeys origin user input with whitelist & all as options
- [ ] If taxonkeys origin == whitelist => implement white list logic
https://github.com/inbo/riparias-prep/blob/f87406d4aa245dd3b1a4225025438701c8d03a65/scripts/crayfish_koppen_geiger_matching.Rmd#L53
- [ ] Else => implement families logic
`keys2 <-c(8022, 4479, 8670)`

- [ ] Since the download size will be huge I'll imp

[2021-04-14 13:40] RomainWilleput commented on #10
Perfect, that would be really nice!
About synonyms, I think that the accepted species includes all occurrences of synonymous species. That should not be a problem.

[2021-04-16 15:05] SanderDevisscher commented on #5
`5_all_crayfish_cm` - branch

[2021-04-19 08:06] SanderDevisscher commented on #8
Can someone provide me with a white-list ? Or at least the families of plants I should investigate?

[2021-04-19 09:52] Andumort commented on #8
Hi @SanderDevisscher,
Here is the Google Sheet link of the plant species list that I made from the catalogs of several Belgian, French, German and Dutch wholesalers :

https://docs.google.com/spreadsheets/d/18HNS3HCNbhvTWIn-6iJHQXsPQbfBtOnNZHi7vZRyYDk/edit?usp=sharing

There is a column with the GBIF name and one with the GBIF taxon ID (**if available**).
Let me know if you have access to it.

[2021-04-19 09:56] Andumort commented on #8
Ups I did not allow access to all, this one should work :

https://docs.google.com/spreadsheets/d/18HNS3HCNbhvTWIn-6iJHQXsPQbfBtOnNZHi7vZRyYDk/edit?usp=sharing

[2021-04-19 11:43] SanderDevisscher commented on #8
@Andumort I can access the file. Just a few questions:

1. Can you give a header to every column (see D)?
2. Can you rename column E to taxonKey ?
3. w'll be limited to those species which have a taxonKey for the climate matching (default and most robust way to download data), is this a problem ?

[2021-04-20 04:42] SanderDevisscher commented on #8
`8_plants_cm` - branch

[2021-04-20 06:51] SanderDevisscher commented on #8
gbif download using taxonKeys in gsheet
![image](https://user-images.githubusercontent.com/16779320/115350424-61fc2880-a1b5-11eb-9a5f-909badfecbf4.png)

63 species introduced in Belgium and 190 species not yet introduced

[2021-04-20 11:28] SanderDevisscher commented on #8
Without thresholds the climate matching results in [143 species](https://github.com/inbo/riparias-prep/blob/8_plants_cm/data/output/plants_data_overlay_future_10km_white-list.csv) for the future scenario & [121 species](https://github.com/inbo/riparias-prep/blob/8_plants_cm/data/output/plants_data_overlay_present_10km_white-list.csv) for the current one.

Its up to you guys now to determine logica

[2021-04-26 10:19] Andumort commented on #8
Hello @SanderDevisscher,

As Romain just tell you, the CM script looks good. You can use the same one for plants.

We finally managed to get the missing taxonKey. Could you rerun the CM with this final list (wich have the same link as before) : https://docs.google.com/spreadsheets/d/18HNS3HCNbhvTWIn-6iJHQXsPQbfBtOnNZHi7vZRyYDk/edit?usp=sharing

As for Crayfish, could you send me the entire list of

[2021-04-29 09:20] SanderDevisscher commented on #8
I'll do a rerun soon

[2021-05-03 14:05] SanderDevisscher opened #20 "Write climate matching for bul bul"
- [ ] Calculate no records per climate + %overlap

for these records:
[Uploading Pycnonotus_jocosus_records.zip…]()

@timadriaens I think this is best suited to be made into a function with these functionalities:
- [ ] ability to select file
- [ ] ability to select list of species

and with this as output:
- [ ] csv containing no records per climate zone + %overlap
- [ ] shp??

what do you think ?

[2021-05-05 09:58] #5 closed

[2021-05-05 09:58] #10 closed

[2021-05-06 14:52] timadriaens commented on #20
@SanderDevisscher yes, would be so nice, we could use that workflow for future matching exercises and PRA's. Perhaps one functionality to add is the production of one or a few maps (for current/future climate):

- [ ] map of the world with KG climate classification as underground and the occurrence data plotted on it
- [ ] global map of climatic suitability for the species based on %overlap)

Dead

[2021-05-07 09:12] SanderDevisscher commented on #20
@damianooldoni I'll write a function for climate matching. You can later integrate the code into the RIPARIAS - package.

ok for you ?.

[2021-05-07 09:22] SanderDevisscher commented on #8
@Andumort These are the unfiltered results from the plants CM

- [plant - taxa from whitelist missing from gbif](https://github.com/inbo/riparias-prep/blob/fadd4bfedde89622666d97e67b25b1f1f2593702/data/interim/plants_missing_from_gbif.csv)
- [unfiltered overlay with climate matching scenarios](https://github.com/inbo/riparias-prep/blob/fadd4bfedde89622666d97e67b25b1f1f2593702/data/interim/plants_d

[2021-05-07 10:10] damianooldoni opened #21 "Functional anlysis: is a RIPARIAS R package needed?"
In this issue I would like to analyze which functions up to now you think are important to be written for RIPARIAS. Based on such analysis we can decide whether we go for a riparias R package.

Please, feel free to add items in the list below by editing this post directly:

# List of features (highest level functions):
1. climate matching (#20)

[2021-05-07 10:11] damianooldoni commented on #20
If needed (see #21), yes.

[2021-05-07 12:03] timadriaens commented on #20
this function is best integrated in the TrIAS package, so moved [here](https://github.com/trias-project/trias/issues/73)

[2021-05-07 12:04] #21 closed

[2021-05-07 14:55] SanderDevisscher opened #22 "Add logos to map application"
as rightly pointed out by @bramdhondt: @SanderDevisscher is there a possibility to include the RIPARIAS and Life logo (and perhaps INBOs smaller at the bottom somewhere) on the map application? You can find logos on the google drive of the project (under communication). It should look like this:

![image](https://user-images.githubusercontent.com/16116743/117467593-1dfa7900-af54-11eb-9e38-5b3075c5

[2021-05-10 10:56] SanderDevisscher opened #23 "Get other scenarios + Rewrite CM"
For some reason, the link only works from my university's wifi network (but not from my home)
Here are the available datasets:
![IMG_20210510_124718](https://user-images.githubusercontent.com/81576915/117648223-3fdf4000-b18e-11eb-91bb-64fc8a7c6c62.jpg)

If it seems useful, I can try to download them at the university and then send them to you.

_Originally posted by @RomainWilleput in https://gith

[2021-05-10 10:58] SanderDevisscher commented on #23
The following steps need to be undertaken:
- [ ] @RomainWilleput downloads the scenarios & sends these to @SanderDevisscher or uploads them directly to a new branch
- [ ] @SanderDevisscher rewrites the crayfish & plants cm scripts

[2021-05-10 11:13] RomainWilleput commented on #23
I will send you all datasets tonight from my computer, I only have my phone now

[2021-05-10 15:46] SanderDevisscher opened #25 "Investigate missing Himalayan balsam records"
Original text in dutch mailed by @svonsem

When inspecting the updated baseline, I notice that many of the original observations (which were used during the preparation of the project) have disappeared.
A notable absentee is giant balsam along the Beverbeek (2nd category side run in the Mark basin). All along the lower course, the older t0 dataset that I received from SPW still showed crosses (lef

[2021-05-10 18:00] RomainWilleput commented on #23
[Maps Koppen Geiger.zip](https://github.com/inbo/riparias-prep/files/6454048/Map.Koppen.Geiger.zip)
These are the Koppen-Geiger cards.
The future maps are according to the A1FI scenario.
Can you confirm me that this is ok for you?

[2021-05-12 11:20] SanderDevisscher commented on #23
`23_New_Scenarios` - branch

[2021-05-12 12:11] SanderDevisscher commented on #23
@RomainWilleput What do we do with records between 2001- today ? In the current sorting of scenarios 2001 - 2025 is a future scenario.

[2021-05-12 12:44] SanderDevisscher commented on #23
Flow rework suggestion:
![CM_flow](https://user-images.githubusercontent.com/16779320/117975725-4527c080-b32f-11eb-9ec0-371e5bd01048.png)

This would result in the following steps:
- [ ] Upload observed shapes to ./data/spatial/koppen-geiger/observed/
- [ ] Upload future scenario shapes to ./data/spatial/koppen-geiger/future/
- [ ] Create a script to calculate belgian future KG codes
- [ ] Add rer

[2021-05-12 13:10] RomainWilleput commented on #23
The maps I sent you are from Rubel & Kottek 2010.
We can use the "observed" maps for occurrences from 1950 to 2000.

Then I think we have several possibilities:
- Use the "observed" map 1980-2016 from Beck et al. 2018 for all occurrences after 2000.
Or
- Use the "observed" map 1980-2016 from Beck et al. 2018 for occurrences from 2001 to 2016, and use a "future" map 2001-2025 from Rubel & Kottek 20

[2021-05-12 13:42] SanderDevisscher commented on #23
@RomainWilleput Both approaches are doable. However the first approach is by far the easiest => lower complexity = less chance for mistakes. The choice is up to you.

Once I have the reworked the flow It should be no problem to add/remove scenarios as long as they have clear naming ea jjjj-jjjj-scenariocode.

Finaly I have a question: To check if the results of the cm make sense I need a translati

[2021-05-12 13:55] RomainWilleput commented on #23
I also think that the first possibility is the simplest and will not cause any problems for the missing 5 years. That's OK with me!

However, I don't quite understand what you want me to do with the translation you are talking about. I am not yet familiar with terms like gridcodes. Could you please explain in more detail?

[2021-05-12 14:09] RomainWilleput commented on #23
I think this is what you need :
11 ... Af
12 ... Am
13 ... As
14 ... Aw
21 ... BWk
22 ... BWh
26 ... BSk
27 ... BSh
31 ... Cfa
32 ... Cfb
33 ... Cfc
34 ... Csa
35 ... Csb
36 ... Csc
37 ... Cwa
38 ... Cwb
39 ... Cwc
41 ... Dfa
42 ... Dfb
43 ... Dfc
44 ... Dfd
45 ... Dsa
46 ... Dsb
47 ... Dsc
48 ... Dsd
49 ... Dwa
50 ... Dwb
51 ... Dwc
52 ... Dwd
61 ... EF
62 ... ET

Is it ?

[2021-05-12 14:12] SanderDevisscher commented on #23
Definitely looks like it.

[2021-05-18 06:22] #22 closed

[2021-05-19 09:00] #23 closed

[2021-06-03 12:23] SanderDevisscher opened #27 "Update riparias Baseline"
See https://github.com/inbo/fis-projecten/issues/136

[2021-06-14 08:27] SanderDevisscher opened #29 "Create interactive leaflet for zwalmvallei"
Temporele component met slider (2000 - now)

_Originally posted by @SanderDevisscher in https://github.com/inbo/fis-projecten/issues/136#issuecomment-853830935_

[2021-06-14 08:32] SanderDevisscher commented on #29
@timadriaens om deze component aan de shiny - applicatie toe te voegen heb ik een publieke repo nodig. Daarom verhuis ik deze issue naar deze repo.

[2021-06-15 09:26] Andumort commented on #8
Hi @Sander, Thank you for all of this.

We have just discussed with Adrien, Etienne and Romain.
If we are not mistaken, the species which present at least one observation in Belgium are excluded from the analysis?

We think that we'll not necessarily exclude all the species which present an observation in Belgium.
Could you therefore rerun the analysis with the entirety of the 202 species in the l

[2021-06-16 04:24] SanderDevisscher commented on #8
@Andumort I'm currently working on a Trias Package function for climate matching see [#73](https://github.com/trias-project/trias/issues/73)

This function does not exclude observations made in the specified region (ea Belgium).  Also the unfiltered list of climate matched species is a output.

When this function is completed I'll use it to rerun the plants cm.
However I'm currently very busy so i

[2021-06-17 07:15] timadriaens commented on #27
Apparently we forgot the baseline data for marbled crayfish (Procambarus virginalis) which occurs in Kessel-Lo and Leuven! So this species need to be included. @SanderDevisscher can you see if it is in the baseline data? They should be since all is on gbif (key: 9442269). Can you rerun?

[2021-06-17 07:30] timadriaens commented on #27
can you also check whether Porcambarus cf. acutus/zonangulus should be on the map, they are now all target species for RIPARIAS. described in Kevin's paper ([link](https://www.reabic.net/journals/bir/2020/3/BIR_2020_Scheers_etal.pdf)). And on gbif:

https://www.gbif.org/fr/occurrence/1570648293
https://waarnemingen.be/observation/77795720/

[2021-06-17 08:41] SanderDevisscher commented on #27
do you mean this species ? 2227289

[2021-06-17 08:48] timadriaens commented on #27
yep, that's the one! We should include it in the download (actually we could download all species of the genus Procambarus 2227127 but I don't think there are any more :-)).

[2021-06-17 08:48] SanderDevisscher commented on #27
Same as other species

[2021-06-17 08:50] SanderDevisscher commented on #27
I still have to filter after the download. Also I noticed observations after 01/03/2021 were not included. Should be fixed now.

[2021-06-22 14:55] SanderDevisscher commented on #29
Export as .shp file

[2021-07-08 13:16] #27 closed

[2021-07-08 13:16] #29 closed

[2021-07-18 13:32] Andumort commented on #8
Hello @SanderDevisscher,

Do you think that the CM of the missing species (with occurrences in Belgium) can be carried out in the following days?
Indeed, I need the values and climatic zones for these species otherwise I cannot complete the risk analyzes and I will therefore not be able to make a coherent work.

I'm sorry to make this urgent but my master thesis must be returned by August 10 at th

[2021-07-23 12:54] timadriaens commented on #8
Hi @SanderDevisscher, Antoine and me tried to run the script on his side so he could do the analysis himself but something went wrong on the rgbif side. Furthermore, upon using the scipt on my end with the species Acorus gramineus (gbifkey 2873807) the cm returned an N_total of 50, whereas there are many more records on gbif for this species (despite no filtering was on). We therefore gave up and

[2021-07-26 13:22] timadriaens opened #32 "updated baseline check"
@adrienlatli checked the updated baseline (which now looks good for the crayfish spp.):

- [ ] some points have disappeared from the last baseline (in red on the map) (+/-20) only in Flanders. It 's mainly plant observations like ludwigia or hydrocotyle. These need to be checked why they disappeared from the baseline.
- [ ] new observations of this year (2021) have been added. These can be visible

[2021-07-28 08:40] adrienlatli commented on #32
Hello Sander,

Tell me how i can help you for solving this problem.
Previously, I compared with Arcgis the last baseline send by Tim (in red on the map) with the new one (purple).
Some points disappeared. Do you have the same issue if you create the map in R without XY transformation ?

[2021-08-02 06:34] SanderDevisscher commented on #32
And thus be excluded from the export (csv/shp) ?

[2021-08-02 06:38] SanderDevisscher commented on #32
We will have to look back into the History of the shapefiles to see which records are "missing". The History can be found here:
https://github.com/inbo/riparias-prep/commits/master/data/spatial/baseline/t2_ALL_points_Batch2_1_3.dbf

[2021-08-02 06:39] SanderDevisscher commented on #32
@adrienlatli Can you somehow identify the missing records ? By ID perhaps ?

[2021-08-02 13:46] SanderDevisscher commented on #8
I'm going to rework this flow to use the new Trias climate matching function.

[2021-08-02 14:08] Andumort commented on #8
Ok, thanks.
I just hope that it will not change the results to much compared to the last ones, I do not have much time anymore :/

[2021-08-02 14:09] SanderDevisscher commented on #8
https://docs.google.com/spreadsheets/d/18HNS3HCNbhvTWIn-6iJHQXsPQbfBtOnNZHi7vZRyYDk/edit?usp=sharing is still correct ?

[2021-08-02 14:15] Andumort commented on #8
Yes !

[2021-08-03 11:21] SanderDevisscher commented on #8
@Andumort When filtering on `BasisOfRecord = c("HUMAN_OBSERVATION", "PRESERVED_SPECIMEN", "UNKNOWN")` all records for [Samolus valerandi subsp. parviflorus (Raf.) Hultén](https://www.gbif.org/species/9109321) with coordinates are omited => in the current version this results in an error (which I'll fix).

Is it correct/preferable to use the species instead of the subspecies? [Samolus valerandi L.]

[2021-08-03 12:22] Andumort commented on #8
Hi @SanderDevisscher,

The species Samolus valerandi L. is native to Belgium (therefore eliminated from the species to be analyzed). This is why I had kept the subspecies "Samolus valerandi subsp. parviflorus (Raf.) Hultén" present in the trade in this case.

If the number of georeferenced occurrences is too low with the filters set, the species is considered to have too few occurrences to achieve

[2021-08-04 07:57] SanderDevisscher commented on #8
I've reworked the function so that species without sufficient spatial data are omited from the results.

[2021-08-04 09:08] SanderDevisscher commented on #8
I hope to have them by this afternoon

[2021-08-04 22:22] Andumort commented on #8
Hi @SanderDevisscher,

Thank you very much ! It looks good for me compared to the last results.

So, if I understood, the new script doesn't eliminate the occurrences < 1950 ?

Could you precise me what are the others change you did, and what are the finals filters/script used, please ? To be sure that I don't say something wrong in my paper. Is it :

- occurrenceStatus = "Present"
- basisOfRecord

[2021-08-05 08:27] SanderDevisscher commented on #8
Correct, we now filter occurrences < 1901

Yes

Yes, To eliminate records with dubious origin and/or location

Yes

Yes
=> Thresholds are:
number of total records at least 90
percentage of records in Belgian climate zones (future or  present) at least 20%

Additionally records that have incorrect locations which cause them to be placed outside of a climate zone are omitted.
Similarly records on th

[2021-08-05 11:21] adrienlatli commented on #32
Hello Sander,

Find below a datafiles with observations that have disappear in the new baseline (essentially VMM observations) :
[Missing_point_in_new_baseline.txt](https://github.com/inbo/riparias-prep/files/6938102/Missing_point_in_new_baseline.txt)

And find below another data file with the most recent observations that were missing in the last baseline:
[Adding_point_in_new_baseline.txt](https

[2021-08-05 17:29] #8 closed

[2021-08-19 08:48] SanderDevisscher commented on #20
@timadriaens I close this issue since the function has been written for the Trias package see [#77](https://github.com/trias-project/trias/pull/77)

[2021-08-19 09:19] SanderDevisscher commented on #32
I'll look into what went wrong with this data.

This is logical since I did not receive any new Walloon data besides the data that's present on gbif.

Since I also need the data for the website https://iasspeciesdashboard.shinyapps.io/Riparias-baseline-maps/ I'll have to look into were I can implement this filter.

[2021-08-19 11:32] SanderDevisscher commented on #32
I've Identified the step in the flow where the error does occur. I'll see what goes wrong and try to fix it.

[2021-08-19 11:46] SanderDevisscher commented on #32
I've fixed the cause for the missing data but I'm waiting for a response whether or not to include the natagora data as demna or as independent to complete the update.

[2021-08-19 13:10] adrienlatli commented on #32
In my opinion, you have to create a new dataflow for natagora data but only for observations in Flanders. Observations made by Natagora in Wallonia will appear in the DEMNA database when we make data aggregation.

[2021-09-08 10:05] SanderDevisscher commented on #32
The Natagora data is all present on gbif so they should be present in the baseline.

[2021-09-09 09:18] SanderDevisscher commented on #20
After integration into the Trias package (allmost) @timadriaens  still needs the cm for Pycnonotus jocosus (2486151) & Pycnonotus cafer (2486131)

[2021-09-09 09:19] SanderDevisscher commented on #20
`20_cm_bul_bul` - branch

[2021-09-16 12:28] timadriaens opened #38 "Better cartographic image of climate zones at risk of invasion"
Having discussed with @SanderDevisscher and looked at the results of the bulbul climate matching, we notice that the maps produced are not very clear nor useful to provide an idea to a risk assessor about areas at risk. The reason is that the %overlap (perc_climate) is calculated on the entire global dataset and many records do not "hit" a climate classification that occurs in the risk assessment

[2021-11-29 12:58] SanderDevisscher opened #39 "Climate Matching for Procambarus acutus ?"
### Discussed in https://github.com/inbo/riparias-prep/discussions/31

<div type='discussions-op-text'>

<sup>Originally posted by **RomainWilleput** June 30, 2021</sup>
Hello @SanderDevisscher
I know that _Procambarus acutus_ is already established in Belgium, but is it possible to put this species in the Climate Matching analysis ?
_Procambarus acutus_ is available on the belgian pet trade, and

[2021-11-29 12:59] SanderDevisscher commented on #39
@RomainWilleput can you provide the gbif keys of these species?

[2021-11-29 13:09] SanderDevisscher commented on #39
Thx I'll look into it

[2021-11-29 13:23] RomainWilleput commented on #39
Thank you !

[2021-11-29 13:25] SanderDevisscher commented on #39
do you need the maps ?

[2021-11-29 13:28] RomainWilleput commented on #39
A table with "classification", "n_climate", "n_totaal" and "perc_climate" is enough.

[2021-11-29 14:18] #39 closed

[2022-02-17 14:11] timadriaens opened #41 "Dashboard for tracking surveillance and management progress for feeding RIPARIAS KPIs"
Now that we have this [dashboard](https://iasspeciesdashboard.shinyapps.io/Riparias-baseline-maps/) for exploring the baseline distribution of the RIPARIAS target species, the idea is to extend this dashboard with some indicators at the level of the project. This is a development that will serve the following actions and can also help assess the KPI's for the project:

- D.1 Monitoring the effecti

[2022-02-17 14:31] timadriaens opened #42 "Add trend analysis to RIPARIAS dashboard"
based on cubes and TrIAS time series analysis, present another tab in the RIPARIAS indicator dashboard displaying the TrIAS indicators trend in observations and trend in occupancy at river basin unit.

[2022-02-24 14:27] adrienlatli commented on #32
Hello Sander,

The link with the validated observations:
https://waarnemingen.be/species/8887/maps/?start_date=2010-01-01&interval=15552000&end_date=2020-01-01&only_approved=on&map_type=grid10k

We have less observations than previously but many of them are in the Riparias area but not in the baseline.

[2022-02-24 15:56] SanderDevisscher commented on #32
@adrienlatli can you confirm these observation are included in the [waarnemingen.be dataset on gbif](https://www.gbif.org/dataset/9a0b66df-7535-4f28-9f4e-5bc11b8b096c)  ?

ifso some gbifid's to troubleshoot would be appreciated

[2022-02-25 08:58] adrienlatli commented on #32
@SanderDevisscher
I'have not checked all the crayfish data, but I found at least 1 observation of faxonius limosus included in the 2 datasets  (waarnemingen dataset : https://waarnemingen.be/observation/173441526/  and in the gbif "waarnemingen dataset": https://www.gbif.org/occurrence/2274200746).

[2022-02-25 11:13] SanderDevisscher commented on #32
@adrienlatli thanks for the examples. I'll look into what goes wrong.

[2022-02-25 11:28] SanderDevisscher commented on #32
I found the suspected cause of the missing _Faxonius limosus_ observations. Somehow the species was not included in the gbif download and thus no waarnemingen.be data was included. I'll look into a fix.

[2022-02-25 11:43] SanderDevisscher commented on #32
@adrienlatli [_Orconectes limosus_](https://www.gbif.org/species/2227000) was included in the download but the waarnemingen.be data uses _Faxonius limosus_ and was thus omited. I'll change the download to include both taxa.

[2022-02-25 12:34] adrienlatli commented on #32
@SanderDevisscher : Thanks a lot for your work.
Just a small question, for the GBIF download you automatically did not take into account all the names (synonyms and basionyms) of each taxa ?
For examples, orconectes limosus = faxonius limosus = astacus limosus...

[2022-02-25 12:40] SanderDevisscher commented on #32
It does download synonyms when you download the accepted species, in this case _Faxonius limosus_. The download considers all (including orconectes & astacus) as Faxonius.  When you download only the synonym, like we did, the download gets limited to that synonym.

[2022-02-25 13:56] timadriaens commented on #32
the usual hassle with taxonomic matching to the gbif backbone. It will be so much easier when we have published the RIPARIAS target species checklist and the Union List as checklists on gbif (work in progress).

[2022-02-25 14:15] SanderDevisscher commented on #32
@adrienlatli is this more in line with what it should be ?
![image](https://user-images.githubusercontent.com/16779320/155730027-3a3de2c2-aed2-4432-aa30-91409cc32707.png)

[2022-02-25 14:22] SanderDevisscher commented on #32
I checked and the example you provided is now present in the baseline

[2022-02-25 14:53] adrienlatli commented on #32
Looks great Sander. It 's ok for me :-)

[2022-02-28 09:33] SanderDevisscher commented on #41
To get new observations run the easin - flow ([Create_Parameter_Files.Rmd](https://github.com/inbo/easin/blob/47_check_vmm_data/r-scripts/EASIN_v2.0/Create_Parameter_Files.Rmd) -> [gbif_prep.Rmd](https://github.com/inbo/easin/blob/47_check_vmm_data/r-scripts/EASIN_v2.0/gbif_prep.Rmd) -> [merge_data.Rmd](https://github.com/inbo/easin/blob/47_check_vmm_data/r-scripts/EASIN_v2.0/merge_data.Rmd) -> co

[2022-02-28 09:37] timadriaens commented on #41
the number of observations per species: baseline runs 1/01/2000 - 31/12/2019
cube is 1km resolution

[2022-02-28 09:41] SanderDevisscher commented on #41
https://github.com/inbo/riparias-prep/blob/d80ec369174f1c21147aeaec9277f7f04c11399f/scripts/baseline_maps_prep.Rmd#L83-L88

add chunck like the one above with subset > 2020

[2022-02-28 09:51] timadriaens commented on #41
remark: absences available for e.g. Hydrocotyle (manscape dataset), possibility to visualise these on the baseline map?

[2022-02-28 13:25] #32 closed

[2022-03-16 11:29] jrhillae commented on #41
@timadriaens @SanderDevisscher : Occupancy and observations are included in the shiny app. Normally, the output should be visible when clicking 'run app' for the script 'baseline_maps_ui_D1.R' in the branch 41_extending_baseline_map. I am planning to add 'Percetange of well prospected 1km squares' very soon. (Hopefully on Friday). Any feedback is welcome.

[2022-03-16 12:54] damianooldoni commented on #41
@timadriaens knows, but maybe all the others not yet. I created the new data cubes last week and deposited on [zenodo](https://zenodo.org/record/5819028). Cubes for all IAS taxa from GRIIS Belgium at Belgian level, cubes at class level at Belgian level and a subset of modelling species (including the ones from the RIPARIAS target list) at European level

I have also updated the cubes at species le

[2022-03-17 09:21] bramdhondt commented on #41
@jrhillae Looks good, Jasmijn. Only minor things after a quick check: (1) maybe add a unit for Occupancy in the graphs (e.g. `(1km² grid cells)`); (2) for `A0_CODE`, maybe also a drop-down menu (instead of an up-down menu) ?

[2022-03-22 10:06] timadriaens opened #43 "colour coding of RBSUs according to level of invasion"
After our meeting today we have an additional idea to track progress in the project in a clear map @damianooldoni. We propose a colour coding at RBSU level based on the level of invasion:

- heavily invaded
- weakly invaded
- scattered occurrences only
- uninvaded
- no data

[2022-03-30 06:48] jrhillae commented on #43
@timadriaens: This is an extra tab called 'level of invasion'? Are the categories based on number of observations or occupancy? Maybe using relative occupancy is very intuitive for this?

0% -> uninvaded

0% -> 10% : scattered occurences only

10% -> 30 % weakly invaded

Currently, maximum relative occupancy is 40% (but I should check again to be sure)

[2022-03-30 07:15] jrhillae commented on #41
@timadriaens @SanderDevisscher@bramdhondt : An extra subpanel has been added with relative occupancy. The graph resembles the graph of absolute occupancy, only the axis differs. Maybe I can try to combine both (absolute and relative occupancy) in one graph? For instance by displaying relative occupancy on the axis and showing absolute occupancy as a label per bar?

[2022-03-30 07:25] timadriaens commented on #43
Indeed, I would make it into an extra tab for clarity, called "Level of invasion" showing a colour code per RBSU for relative occupancy (% grid cells in the RBSU that have at least one observation). I like your proposal, let's start with that. Of course, for some species like Impatiens it will work well, others that have more clustered occurrence invasion levels might be high locally whilst being

[2022-03-30 07:42] jrhillae commented on #41
@SanderDevisscher : In script occupancy_rel_prep I get the followinng error when running this line:

Loading required namespace: rgeos
y[subsy, ] is invalid
Attempting to make y[subsy, ] valid by zero-width buffering
There were 15 warnings (use warnings() to see them).

To be checked if this is a real issue. So far, the intersect appears to work correctly.

[2022-03-30 11:12] SanderDevisscher commented on #41
If i remember correctly this means some of the polygons are not closed and thus invalid. Intersect tries to fix this by applying a zero width buffer and apparently it worked.

[2022-03-30 12:16] damianooldoni commented on #41
An elegant way to solve this is provided by sf package:
https://r-spatial.github.io/sf/reference/valid.html

[2022-04-05 12:38] SanderDevisscher commented on #42
These graphs:
Observations
Observations - corrected
Occupancy
Occupancy - corrected

[2022-04-05 12:40] SanderDevisscher commented on #42
https://github.com/inbo/riparias-prep/blob/7d36f452d7c944e71d5c4a751ce73d9c22dc95ea/scripts/shinyapp/baseline_maps_ui_D1.R#L79-L94

[2022-04-05 12:50] jrhillae opened #44 "Prioritizing management of water bodies in Riparias"
@bramdhondt : by which date do you want a first draft of the script? I only have time to write a first version but you will further elaborate/explore it?

[2022-04-05 16:43] SanderDevisscher commented on #42
@jrhillae I've created a `trends_prep.r` script which creates/updates `data\interim\trends_compact.csv`. The next step would be to integrate the graphs into the shiny app. Can you share where you want the code for the graphs and what would be the user input parameters ?

I've created the `42_add_trends`-branch, after I've created the trends_prep script, to integrate the graphs. I'll do a PR into t

[2022-04-08 05:13] jrhillae commented on #44
@bramdhondt: In [this file](https://github.com/inbo/riparias-prep/blob/44_prioritizing/scripts/ad%20hoc/prioritizing%20areas/example.R) you can see the starter of the code to prioritize areas of management within Riparias.

I read in all data of the different areas (which were all delivered in different formats) and also transformed them to the correct projection. Currently, I am stuck in the inte

[2022-04-13 09:41] SanderDevisscher commented on #42
@jrhillae heads up in heb eindelijk een gat in mijn schema gevonden, ik zal deze namiddag (en mogelijk morgenvoormiddag) werken aan deze issue.

[2022-04-15 14:32] jrhillae opened #47 "transfer and rename this repository"
@SanderDevisscher:

Is all code within this repository used for D1? Otherwise it can be separated in two distinct repositories?

Damiano and I suggest to either transfer the code of the Rshiny app to a new repository and/or rename this repository before the deliverable is written of D1.

The deliverable of D1 needs to refer to the source code and documentation of the app, which for clarity should

[2022-04-15 15:43] SanderDevisscher commented on #47
NO, it isn't I think. D1 is mainly the app while some scripts data also concern the crayfish and plants climate matching & a baseline maps shinyapp for zwalm based on the one I made for RIPARIAS which you greatly enhanced.

Good idea to keep the code seperate & clean

[2022-04-16 13:11] timadriaens commented on #47
I would suggest moving everything related to RIPARIAS to the public riparias repo i.e. both the climate matching for the alert list drafting as well as the code for D1. Does that seem feasible?

[2022-04-16 13:14] SanderDevisscher commented on #47
This repo is public too

Op za 16 apr. 2022 15:11 schreef Tim Adriaens ***@***.***>:

[2022-04-17 05:20] jrhillae commented on #41
@damianooldoni : Thank you for the tip, I added the fix to the code.

[2022-04-17 05:35] jrhillae commented on #42
@SanderDevisscher : I want to check your code but I have trouble installing the trias package. I get the message that it is not available for my version of R. How can I install the trias package?

[2022-04-17 06:22] jrhillae commented on #41
@timadriaens:

Except  for the trend graphs (which Sander created in a separate branch) the changes to the dashboard are finished. I still have a few questions/suggestions (I will make separate issues for some of them but a short overview is also handy):

- When determining the grid cells with high surveillance effort I calculate the sum of total plant species observed in a grid based on the cube,

[2022-04-17 06:35] SanderDevisscher commented on #42
@jrhillea have you tried 'devtools::install_github("trias-project/trias")'?

Op zo 17 apr. 2022 07:35 schreef jrhillae ***@***.***>:

[2022-05-02 14:08] jrhillae commented on #42
@SanderDevisscher : I tried to install it again and it worked :). The figures are looking ver good! One thing I noticed, the title of the figures is not completely shown. Maybe shorten it by removing species name? The species is very clair from the context (i.e. the one selected on the left) so not necesaary to show in the title. Would that be possible?

[2022-05-02 14:13] jrhillae opened #48 "Deployment latest version of dashboard?"
@SanderDevisscher : Would it be possible to merge both branches (#41 and #42) and deploy the current version of the dashboard?  (This was requested by @timadriaens , so that other partners from RIPARIAS can easily give feedback). There are still some issues (#41)  to solve but I will deal with them in the second half of June, so the dashboard should be revised in its current state.

[2022-05-03 05:09] SanderDevisscher opened #49 "Fix titles for trend graphs D1"
@SanderDevisscher : I tried to install it again and it worked :). The figures are looking ver good! One thing I noticed, the title of the figures is not completely shown. Maybe shorten it by removing species name? The species is very clair from the context (i.e. the one selected on the left) so not necesaary to show in the title. Would that be possible?

_Originally posted by @jrhillae in https://

[2022-05-03 05:10] SanderDevisscher commented on #48
@jrhillae #46 merges branch #42 into branch #41 so by approving this PR and merging it. Both the branches continue as the #41 branch then.

[2022-05-03 07:29] SanderDevisscher commented on #47
Has this been done ?

[2022-05-03 07:43] damianooldoni commented on #47
No, not yet. I just wanted to be sure you agee first. And I didn't want to do it just in the middle of some merging or PR as you all seem very active in this repo.

Let me know which period is the best one to transfer this repo.
Can we transfer climate matching too at the same moment or better waiting for it?

[2022-05-03 07:49] SanderDevisscher commented on #47
ok, we'll let you know.

I think its best to keep the climate matching separate from the shinyapp code. The question then would be, is it necessary to move this part of the repo because this repo is also public.

[2022-05-03 08:03] damianooldoni commented on #47
I know everything is public. It's just a question of putting RIPARIAS things within the RIPARIAS GitHub organization. Up to you guys to decide what officially falls under LIFE RIPARIAS and what not. And also how feasible is to move stuff without breaking anything. IMHO climate matching is part of LIFE RIPARIAS. If this repo will not be active anymore I would not move it.

I agree to not mix the RS

[2022-05-03 11:09] jrhillae commented on #47
@SanderDevisscher : This has not yet been done.

[2022-05-03 11:20] jrhillae commented on #48
@SanderDevisscher : I approved the PR, both branches are merged. It looks very good together :). Do you have time to deploy this version online so that Tim can share this temporary version with other RIPARIAS partners? Thank you!

[2022-05-03 12:48] damianooldoni opened #50 "Automatically retrieve GBIF keys from LIFE RIPARIAS target species list"
This code below shows you how simple it is to get all RIPARIAS target species automatically now that the [checklist](https://www.gbif.org/dataset/fd004d9a-2ea4-4244-bb60-0df508d20a15) is published and available on GBIF.

[code]

Just close the issue once this step is implemented.

[2022-05-04 05:18] #49 closed

[2022-05-04 05:18] #42 closed

[2022-05-04 05:21] SanderDevisscher commented on #48
@jrhillae @timadriaens I'm going to deploy the website

[2022-05-04 05:59] SanderDevisscher commented on #48
@jrhillae @timadriaens The latest version has been deployed at https://iasspeciesdashboard.shinyapps.io/D1_riparias_dev/

[2022-05-04 11:24] timadriaens commented on #48
It is looking great. I think we might need to adapt the species trends (dropping the emergence status) in time, but this will perfectly do for a first version, thank you!! I will circulate to partners for feedback and start an issue for that.

[2022-05-23 09:28] timadriaens commented on #44
This was the idea of the analysis:

- produce a map for the entire project area with ponds: use the [INBO watervlakkenkaart](https://www.geopunt.be/catalogus/datasetfolder/10e87ad3-8235-40e0-8269-42c3c96a884d) for Flanders, plans d'eau for Wallonia
- overlay with occurrences of baseline distribution in RIPARIAS project area (probably best to take a buffer around the water bodies)

Looks like you m

[2022-05-23 09:29] timadriaens commented on #50
to be implemented in dashboard code @jrhillae

[2022-05-23 15:17] bramdhondt commented on #44
@timadriaens and @jrhillae

@jrhillae : I copied your code into a `Rmd` file (`pond_prioritisation.Rmd`). It already runs well for Flanders: I extracted a list of ponds with the RIPARIAS species! I'll try to improve it further in the coming day(s). I will then respond to Etienne myself.

@timadriaens : I suggest to take a two-phase approach.

- First, to let the script do the bare minimum, i.e. co

[2022-05-23 15:20] timadriaens commented on #44
sounds great @bramdhondt

[2022-05-23 19:10] bramdhondt commented on #44
@SanderDevisscher (FYI: @jrhillae )

Het script `pond_prioritisation.Rmd` lijst de Vlaamse, Waalse en Brusselse waterlichamen (geïsoleerde wateren) op waarin RIPARIAS-soorten zijn vastgesteld. Voor de soorten en hun _occurrences_ wordt beroep gedaan op het reeds bestaande _current_state.geojson_ (en _baseline.geojson_). Die bevat 14 soorten, en is daarmee niet conform de laatste RIPARIAS-lijst. Zi

[2022-05-24 07:04] jrhillae commented on #44
@bramdhondt :  Good job! I am happy you succeeded in running the intersect function.

[2022-06-17 10:16] bramdhondt commented on #44
@SanderDevisscher (FYI: @jrhillae ) : ik geraak verloren in de verwijzingen naar de easin-repo. Het is me dan ook niet duidelijk hoe het input-bestand _current_state.geojson_ nu uitgebreid moet worden naar alle soorten van de [RIPARIAS](https://www.gbif.org/dataset/fd004d9a-2ea4-4244-bb60-0df508d20a15)-lijst.

[2022-07-04 12:39] SanderDevisscher commented on #44
@bramdhondt ik was bij het toevoegen van de RIPARIAS soorten op een foutje gestoten in de taxonomie (zie [issue 17](https://github.com/riparias/riparias-target-list/issues/17)) het is me na het oplossen van deze issue echter niet gelukt om de flow opnieuw te laten lopen. Ik zal dat asap doen.

[2022-10-12 14:54] jrhillae opened #52 "dashbord versus current state"
In correspondance to action D2:

The time periods of dashbord and target should correspond to:
Baseline: 1/1/2000 - 31/12/2015
Target:      1/1/2016 -  31/12/2026

Also, the species considered should be extended to all species of the LIFE RIPARIAS checklist. (See #50)

[2022-10-12 15:12] jrhillae opened #53 "adding tab 'site-scale'"
The dashboard should also give site-scale statistics, for those locations decided to need management. We currently operate under the assumption that these data are collected as DAFOR for plants and CPUE for crayfish.

[2022-10-12 15:14] jrhillae opened #54 "Extending surveillance tab"
Based on email conversations with Etienne:

1/ Yearly evolution of the number of observations per river basin both for emerging and widespread species (= KPI)
Maybe 3 separate graphs : 1/ alert list species, 2/ emerging EU listed species and 3/ widespread EU listed species

2/ Rate of increase of surveillance at RSU scale (# yearly observation records) in comparing baseline period (2000-2015) with

[2022-10-12 15:18] jrhillae opened #55 "Extending management tab"
de kaartjes 'heavily invaded', 'scattered occurrences only' etc... : categorieën in lijn brengen met de Decision Support Tool (contact: Sonia). Dit zijn vijf categorieën.

[2022-11-23 13:12] #50 closed

[2022-11-24 12:53] SanderDevisscher opened #57 "Use wkt to limit gbif download"
@jrhillae ik denk dat we de gbif download aanzienlijk kunnen versnellen verlichten door deze flow toe te passen:

[code]

[2022-11-25 10:08] jrhillae opened #58 "Improve layers for RBSU and RBU for Riparias dashboard"
Currently, layer for RBU and RBSU do not overlap well. Apparently, RBU layer is at a lower resolution than the RBSU layer. This results in contradictory results when observations are intersected with these layers.

@jrhillae: check if layers in shared Riparias GIS folder are more appropriate to use.

(@SanderDevisscher : ter info)

![image](https://user-images.githubusercontent.com/35692395/203957

[2022-11-25 10:28] jrhillae opened #59 "EEA_1km layer: transform and store as geojson"
The layer containing EEA_1km within this folder: data\spatial\EEA 1km should be overwritten by a geojson (transformed to WGS 84)

[2022-11-25 11:05] jrhillae commented on #58
https://drive.google.com/drive/folders/1OnjoMvOECsokz299VccE85iqKxRpqYhc

[2022-11-30 13:11] jrhillae opened #60 "Use IndividualCount within dashboard?"
@bramdhondt, @damianooldoni, @timadriaens: Currently individualCount per record is not taken in account within the dashboard. Is it possible and how could this be included?